{
  "env": {
    "node": true,
    "es2021": true
  },
  "plugins": ["prettier"],
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "no-unused-vars": "warn",
    "prettier/prettier": [
      "warn",
      {
        "printWidth": 100,
        "tabWidth": 2,
        "singleQuote": true
      }
    ]
  }
}