@use "variables" as *;
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap';

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
    font-size: 1rem;
}

:root {
    font-size: 13pt;
    background-color: $background-color;
}

body {
    margin: 0;
    overflow-y: auto;
}

#root {
    width: 100vw;
}
