@use "variables" as *;

.IssueList {
    background-color: $background-color;
    padding: 20px;
    & > * {
        margin: 0 auto;
        max-width: 95vw;
    }

    // .issue-container {
    // }
}
