@use "variables" as *;

.LabelSmall {
    @extend .flex-center;
    border-radius: 30px;
    padding: 4px 16px;
    font-size: 0.8rem;
}

.MilestoneSmall {
    @extend .margin-right;
    color: $label-color;
    path {
        fill: $label-color;
    }
}

.InputMedium {
    position: relative;
    border-radius: 14px;
    width: 320px;
    height: 56px;
    border: 1px solid $line-color;
    overflow: hidden;
    & > input {
        position: absolute;
        bottom: 0;
        left: 10px;
        width: 300px;
        line-height: 36px;
        border: none;
        outline: none;
        background-color: #0000;
    }
    .title {
        position: absolute;
        top: 0;
        left: 10px;
        transform: translateY(50%);
        color: $placeholder-color;
        transition: 0.2s;
    }
    &.filled,
    &.focused {
        .title {
            transform: translateY(10%);
            font-size: 0.5rem;
        }
    }
    &.focused {
        background-color: $off-white-color;
    }
}

.ButtonMedium {
    width: 120px;
    height: 40px;
    line-height: 20px;
    font-size: 0.95rem;
    border-radius: 11px;
    outline: none;
    border: none;
    background-color: $primary-color;
    color: $off-white-color;
    &:hover {
        background-color: #003de3;
        cursor: pointer;
    }
}

.Tap {
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $line-color;
    border-right: none;
    background-color: $background-color;
    color: $label-color;
    user-select: none;
    &:first-child {
        border-radius: 11px 0 0 11px;
    }
    &:last-child {
        border-radius: 0 11px 11px 0;
        border-right: 1px solid $line-color;
    }
    &:hover {
        background-color: $input-background-color;
        cursor: pointer;
    }
    &:active {
        background-color: $line-color;
    }
}

.Dropdown {
    position: absolute;
    top: 100%;
    background-color: $background-color;
    border-radius: 16px;
    border: 1px solid $line-color;
    overflow: hidden;
    min-width: min(90vw, 200px);
    z-index: 100;
    box-shadow: 2px 2px 5px $body-color;

    &.right {
        right: 0;
    }
    &.left {
        left: 0;
    }

    .title {
        @extend %flex-vertical;
        padding: 8px 12px;
        margin: 0;
        font-size: 1.05rem;
        color: $label-color;
        cursor: default;
        border-bottom: 1px solid $line-color;
    }
    .item-container {
        background-color: $off-white-color;
        padding: 0;
        margin: 0;

        .item {
            @extend .hover-item;
            display: flex;
            padding: 8px 12px;
            font-size: 1rem;
            justify-content: space-between;
            &:not(:last-child) {
                border-bottom: 1px solid $line-color;
            }
            &.selected {
                color: $title-active-color;
                stroke: $title-active-color;
            }
            .label {
                justify-self: flex-start;
            }
            .checkbox {
                justify-self: flex-end;
            }
        }
    }
}
