@use "variables" as *;

.LabelSmall {
    @extend .flex-center;
    border-radius: 30px;
    padding: 4px 16px;
    font-size: 0.8rem;
}

.MilestoneSmall {
    @extend .margin-right;
    color: $label-color;
    path {
        fill: $label-color;
    }
}

.InputMedium {
    position: relative;
    border-radius: 14px;
    width: 320px;
    height: 56px;
    border: 1px solid $line-color;
    overflow: hidden;
    & > input {
        position: absolute;
        bottom: 0;
        left: 10px;
        width: 300px;
        line-height: 36px;
        border: none;
        outline: none;
        background-color: #0000;
    }
    .title {
        position: absolute;
        top: 0;
        left: 10px;
        transform: translateY(50%);
        color: $placeholder-color;
        transition: 0.2s;
    }
    &.filled,
    &.focused {
        .title {
            transform: translateY(10%);
            font-size: 0.5rem;
        }
    }
    &.focused {
        background-color: $off-white-color;
    }
}

.ButtonMedium {
    width: 120px;
    height: 40px;
    line-height: 20px;
    font-size: 0.95rem;
    border-radius: 11px;
    outline: none;
    border: none;
    background-color: $primary-color;
    color: $off-white-color;
    &:hover {
        background-color: #003DE3;
        cursor: pointer;
    }
}
