@use "variables" as *;

.LabelSmall {
    @extend .flex-center;
    border-radius: 30px;
    padding: 4px 16px;
    font-size: 0.8rem;
    width: fit-content;
    height: fit-content;
    margin: 5px;
}

.MilestoneSmall {
    @extend .margin-right;
    color: $label-color;
    path {
        fill: $label-color;
    }
}

.InputMedium {
    position: relative;
    border-radius: 14px;
    width: 320px;
    height: 56px;
    border: 1px solid $line-color;
    overflow: hidden;
    & > input {
        position: absolute;
        bottom: 0;
        left: 10px;
        width: 300px;
        line-height: 36px;
        border: none;
        outline: none;
        background-color: #0000;
    }
    .title {
        position: absolute;
        top: 0;
        left: 10px;
        transform: translateY(50%);
        color: $placeholder-color;
        transition: 0.2s;
    }
    &.filled,
    &.focused {
        .title {
            transform: translateY(10%);
            font-size: 0.5rem;
        }
    }
    &.focused {
        background-color: $off-white-color;
    }
}

.ButtonMedium {
    width: 120px;
    height: 40px;
    line-height: 20px;
    font-size: 0.95rem;
    border-radius: 11px;
    outline: none;
    border: none;
    background-color: $primary-color;
    color: $off-white-color;
    &:hover {
        background-color: #003de3;
        cursor: pointer;
    }
}

.Tap {
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $line-color;
    border-right: none;
    background-color: $background-color;
    color: $label-color;
    user-select: none;
    &:first-child {
        border-radius: 11px 0 0 11px;
    }
    &:last-child {
        border-radius: 0 11px 11px 0;
        border-right: 1px solid $line-color;
    }
    &:hover {
        background-color: $input-background-color;
        cursor: pointer;
    }
    &:active {
        background-color: $line-color;
    }
}

.Dropdown {
    position: absolute;
    top: 100%;
    background-color: $background-color;
    border-radius: 16px;
    border: 1px solid $line-color;
    overflow: hidden;
    min-width: min(90vw, 200px);
    z-index: 100;
    box-shadow: 2px 2px 5px $body-color;

    &.right {
        right: 0;
    }
    &.left {
        left: 0;
    }

    .title {
        @extend %flex-vertical;
        padding: 8px 12px;
        margin: 0;
        font-size: 1.05rem;
        color: $label-color;
        cursor: default;
        border-bottom: 1px solid $line-color;
    }
    .item-container {
        background-color: $off-white-color;
        padding: 0;
        margin: 0;

        .item {
            @extend .hover-item;
            display: flex;
            padding: 8px 12px;
            font-size: 1rem;
            justify-content: space-between;
            &:not(:last-child) {
                border-bottom: 1px solid $line-color;
            }
            &.selected {
                color: $title-active-color;
                stroke: $title-active-color;
            }
            .item-title {
                justify-self: flex-start;
            }
            .checkbox {
                justify-self: flex-end;
            }
        }
    }
}

.OpenIndicator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    font-size: 0.9rem;
    font-weight: bold;

    &.open {
        border: 1px solid $primary-color;
        color: $primary-color;
        background-color: $light-blue;
    }
    &.close {
        border: 1px solid $secondary-color;
        color: $secondary-color;
        background-color: $light-purple;
    }
}

.Comment {
    margin-bottom: 20px;
    border-radius: 16px;
    border: 1px solid $line-color;
    overflow: hidden;

    & > .info {
        display: flex;
        flex-direction: row;
        padding: 10px 20px;
        background-color: $background-color;

        & > .align-left {
            margin-left: 0;
            margin-right: auto;
            .user-id {
                color: $title-active-color;
                font-size: 1.15rem;
                font-weight: bold;
                margin-right: 10px;
            }
            .timestamp {
                color: $body-color;
                font-weight: 0.9rem;
                font-weight: bold;
            }
        }
        & > .align-right {
            margin-left: auto;
            margin-right: 0;

            .emoji-button {
                outline: none;
                border: none;
                background-color: #0000;
                stroke: $label-color;

                &:hover {
                    cursor: pointer;
                    stroke: $title-active-color;
                }
                &:active {
                    stroke: $primary-color;
                }
            }
        }
    }
    & > .body {
        color: $title-active-color;
        padding: 15px 20px;
        background-color: $off-white-color;
    }
}

.AuthorIndicator {
    padding: 3px 12px;
    color: $body-color;
    font-size: 0.75rem;
    font-weight: bold;
    margin: 0 10px;
    border-radius: 16px;
    border: 1px solid $line-color;
    user-select: none;
}
