$title-active-color: #D9DBE9;
$body-color: #D9DBE9;
$label-color: #6E7191;
$placeholder-color: #A0A3BD;
$line-color: #D9DBE9;
$input-background-color: #EFF0F6;
$background-color: #F7F7FC;
$off-white-color: #FEFEFE;

$primary-color: #007AFF;
$secondary-color: #0025E7;
$error-color: #FF3B30;
$success-color: #34C759;
